*{
    margin:0;
    padding:0;
}

body
{
    background-color: rgb(195, 240, 248);
}

nav
{
    background-color: rgb(50, 50, 121);
    height:65px;
}
.lside
{
    font-size: 35px;
    color:white;
    font-family:Helvetica;
    float:left;
    margin-left: 115px;
    line-height:65px;
}
.rside
{
    float:right;
    line-height: 65px;
    margin-right:80px;
    color:white;
}
button
{
    background-color:rgb(50, 50, 121);
    color:white;
    padding:5px;
    text-decoration: none;
}

.lcontainer
{
    float:left;
    margin-top: 20px;
    margin-left: 120px;
    color:rgb(50, 50, 121);
    font-family: helvetica;
    font-size:14px;

}

.rcontainer
{
    padding-left: 20px;
    float:right;
    margin-right: 350px;
    line-height:1.9;
}

.smalltext
{
    margin-right:10px;
    font-size:10px;
}

form a:hover
{
    color:rgb(1, 1, 17);
}

.b2
{
    background-color: rgb(31, 161, 31);
    color:white;
    padding:10px;
    border-radius: 5px;
    border:none;
}

